* {
  box-sizing: border-box;
}
body {
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.header {
  display: flex;
  align-items: center;
  padding: 20px 30px 20px 32px;
  margin-bottom: 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 99;
}
.menu-button {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  width: 20px;
  height: 17px;
  border: none;
  margin-right: 28px;
  cursor: pointer;
}
.menu-line {
  display: block;
  background: #1F2022;
  width: 20px;
  height: 3px;
  border-radius: 20px;
}
.logo {
  margin-right: 59px;
}
.input-group {
  background: #EBEBEB;
  border-radius: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  max-width: 830px;
  width: 50%;
  margin-right: 40px;
}
.input-search {
  background-color: transparent;
  border: none;
  padding: 12px 23px 12px 23px;
  width: 100%;
}
.btn-search {
  width: 19px;
  height: 19px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.icon-search {
  fill: #000;
}
.end-icons{
  display: flex;
  align-items: center;
  margin-left: auto;
}
.icons-link {
  text-decoration: none;
  opacity: 0.32;
}
.icons-link:hover {
  opacity: 0.9;
  transition: 0.3s;
}
.icons-link:not(:last-child) {
  padding-right: 50px; 
}
.user {
  margin-left: 45px;
}
.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.sidebar {
  position: fixed;
  width: 250px;
  left: 0;
  top: 114px;
  height: calc(100% - 114px);
  overflow-y: auto;
  padding-left: 32px;
  background-color: #fff;
}
.content {
  width: 100%;
  height: 500px;
  margin-top: 85px;
  padding-left: 280px;
  padding-top: 30px;
  padding-right: 70px;
}

.nav-menu {
  margin-top: 0;
  margin-bottom: 60px;
  padding-left: 0;
  list-style-type: none;
}
.nav-item {
  margin-bottom: 28px;
}
.nav-link {
  display: flex;
  align-items: center;
  color: #898989;
  text-decoration: none;
}
.nav-link:hover {
  color: #FF0000;
}
.nav-link:hover .icon {
  fill: #FF0000;
}
.nav-item {
  fill: #898989;
}
.nav-text {
  margin-left: 13px;
}
.nav-image {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}
.nav-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 30px;
}
.channel {
  position: relative;
  margin-bottom: 49px;
}
.channel-title {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #19202C;
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  margin-bottom: 30px;
}
.channel-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.channel-text {
 margin-left: 20px; 
}
.video-thumb {
  width: 100%;
  height: 150px;
  overflow: hidden;
  border-radius: 14px;
  position: relative;
}
.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video-duration {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: rgba(0,0,0,0.3);
  border-radius: 12px;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  padding: 3px 9px;
}
.video-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #19202C;
  margin-top: 10px;
  margin-bottom: 4px;
}
.video-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  line-height: 16px;
  color: #C2C2C2;
}
.video-counter {
  display: flex;
}
.video-views {
  margin-right: 5px;
}
.video-views:after {
  content: '';
  width: 3px;
  height: 3px;
  background-color: #C2C2C2;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  border-radius: 3px;
}
.channel-btn {
  cursor: pointer;
}
.slider-buttons {
  position: absolute;
  right: 6%;
  top: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 66px;
}
.rec-video-card {
width: 100%;  
}
.rec-video-thumb {
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 14px;
  position: relative;
}
.rec-thumbnail {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.subheader-text{
  padding-left: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #C2C2C2;
}
.subs-btn {
  width: 154px;
  height: 50px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border-radius: 25px;
  background-color: red;
  color: #FFFFFF;
  border: none;
}
.button-subs {
  position: absolute;
  right: 18%;
  top: 2px;
  width: 66px;
}
.mobile-sidebar {
  display: none;
}
.mobile-search {
  display: none;
}
@media (max-width: 860px) {
  .end-icons {
    display: none;
  }
  .user {
    margin-left: auto;
  }
}
@media (max-width: 640px) {
  .swiper-wrapper {
    display: flex;
    flex-direction: column;
  }
  .swiper-slide {
    margin-bottom: 40px;
  }
  .video-thumb {
    height: 300px;
  }
  .channel {
    margin-bottom: 0;
  }
  .slider-buttons {
    display: none;
  }
  .mobile-search {
    display: block;
    margin-left: auto;
  }
  .user {
    margin-left: 20px;
  }
  .input-group {
    position: fixed;
    top: -100px;
    left: 0;
    opacity: 0;
    width: 76%;
    margin-left: 25px;
    transition: top 0.2s;
  }
  .input-group.is-open {
    opacity: 1;
    top: 19px;
  }
  .menu-button {
    display: none;
  }
  .sidebar {
    display: none;
  }
  .content {
    padding-left: 32px;
    margin-right: 0px;
    padding-right: 32px;
  }
  .mobile-sidebar {
    display: block;
    position: fixed;
    z-index: 99;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
  }
  .mobile-sidebar .nav-link{
    display: flex;
    flex-direction: column;
  }
  .mobile-sidebar .nav-menu {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 13px;
    padding-bottom: 11px;
    border-top: 1px solid #F1F1F1;
  }
  .nav-text {
    margin-left: 0;
    font-size: 10px;
    line-height: 13px;
  }
  .nav-item {
    margin-bottom: 0;
  }
  .subheader-text {
    display: none;
  }
  .button-subs {
    display: flex;
    padding-left: 32px;
  }
  .subs-btn {
    border-radius: 10px;
  }
}
/* @media (min-width: 1921 ) {
.rec-video-card {
  width: 540px;
}
.rec-video-thumb {
  width: 540px!;
  height: 250px;
  overflow: hidden;
  border-radius: 14px;
  position: relative;
}
.rec-thumbnail {
  width: 540px;
  height: 250px;
  object-fit: cover;
}
} */